@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '_normalize';

$accent: #ff3e49; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #eeeeee; // Text Color
$bgfooter: #313030; // Footer background color
$lineheight: 1.2; // Document Line Height
$userfont: 'Montserrat', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font

$maxWidthContainer: 1400;
$maxWidth: 1400;
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 320px;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	> * {
		min-width: 0;
	}
}

[class*='__container'] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	flex: 1 1 auto;
	background-color: #303030;

	// .page__items

	&__items {
		display: flex;
		@media (max-width: 991.98px) {
			flex-direction: column;
		}
	}

	// .page__item

	&__item {
		
	}

	.item--left {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 60%;
		min-height: 100vh;
		@media (max-width: 991.98px) {
			width: 100%;
		}

		&__logo {
			margin-left: auto;
			margin-right: auto;
			@include adaptiv-value('max-width', 150, 100, 1);
			@include adaptiv-value('margin-bottom', 30, 20, 1);
			img {
				display: block;
				width: 100%;
			}
		}
	}

	.item--right {
		position: relative;
		width: 40%;
		@media (max-width: 991.98px) {
			width: 100%;
			min-height: 200px;
		}
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
			opacity: 0.2;
			@media (max-width: 991.98px) {
				opacity: 0;
			}
		}
	}

	// .page__title

	&__title {
		text-align: center;
		padding: 20px;
		overflow: hidden;
		h1 {
			position: relative;
			@include adaptiv-value('font-size', 95, 35, 1);
			font-weight: 100;
			margin-top: 0;
			@include adaptiv-value('margin-bottom', 50, 30, 1);
			text-transform: uppercase;
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 80%;
				background-color: $textcolor;
				opacity: 0.3;
				bottom: -20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		p {
			display: block;
			font-family: 'Raleway', sans-serif;
			line-height: 1.4;
			font-weight: 300;
			margin: 0 auto;
			max-width: 660px;
			width: 100%;
			@include adaptiv-value('font-size', 25, 16, 1);
		}
	}
}

.page-info {
	position: absolute;
	bottom: 20px;
	right: 20px;	
	background-color: #303030;
	z-index: 2;
	display: flex;
	align-items: center;
	padding: 15px;
	margin-left: 20px;
	@media (max-width: 991.98px) {
		left: 20px;
		margin-left: 0;
	}
	@media (max-width: 991.98px) {
		flex-direction: column;
	}
	&__text {
		padding-left: 15px;
		text-align: start;
		@media (max-width: 991.98px) {
			text-align: center;
		}
		p {
			margin: 0 0 10px;
			line-height: 1.4;
		}
	}

	// .page-info__link

	&__link {
		display: block;
		text-decoration: none;
		color: $accent;
		transition: color 0.25s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: $accent, $amount: 20);
			}
		}
	}

	// .page-info__qr

	&__qr {
		max-width: 100px;
		@media (max-width: 991.98px) {
			//margin-bottom: 20px;
			display: none;
		}
		img {
			display: block;
			width: 100%;
		}
	}
}
