@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '_normalize';

$accent: #ff3e49; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #eeeeee; // Text Color
$bgfooter: #313030; // Footer background color
$lineheight: 1.2; // Document Line Height
$userfont: 'Montserrat', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 320px;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	> * {
		min-width: 0;
	}
}

[class*='__container'] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	flex: 1 1 auto;
	background-color: #303030;

	// .page__items

	&__items {
		display: flex;
	}

	// .page__item

	&__item {
		min-height: 100vh;
	}

	.item--left {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60%;
		&__logo {
			max-width: 150px;
			margin: 0 auto 30px auto;
			img {
				display: block;
				width: 100%;
			}
		}
	}

	.item--right {
		position: relative;
		width: 40%;
		// img {
		// 	display: block;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: cover;
		// 	z-index: 0;
		// 	opacity: .4;
		// }
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
			opacity: .4;
		}

		&__logo {
			position: absolute;
			bottom: 40px;
			right: 40px;
			max-width: 150px;
			z-index: 22;
			img {
				display: block;
				width: 100%;
			}
		}
	}

	// .page__title

	&__title {
		text-align: center;		
		padding: 20px;
		overflow: hidden;
		h1 {
			position: relative;
			font-size: 95px;
			font-weight: 100;
			margin: 0 0 50px;
			text-transform: uppercase;
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 80%;
				background-color: $textcolor;
				opacity: .3;
				bottom: -20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		p {
			display: block;
			font-family: 'Raleway', sans-serif;
			font-size: 25px;
			line-height: 1.4;
			font-weight: 300;
			margin: 0 auto;
			max-width: 660px;
		}
	}

	&__link {
		display: block;
		text-decoration: none;
		color: $accent;
		transition: color 0.25s ease-in;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: $accent, $amount: 20);
			}
		}
	}
}
